In [1]:
pip install odfpy

Collecting odfpy
  Downloading odfpy-1.4.1.tar.gz (717 kB)
     |████████████████████████████████| 717 kB 4.5 MB/s eta 0:00:01
Requirement already satisfied: defusedxml in /opt/anaconda3/lib/python3.7/site-packages (from odfpy) (0.6.0)
Building wheels for collected packages: odfpy
  Building wheel for odfpy (setup.py) ... done
  Created wheel for odfpy: filename=odfpy-1.4.1-py2.py3-none-any.whl size=137339 sha256=c4030c43be807bc7ba512f66793fbc604c778e5c7db9b4cc9193b660d51bacae
  Stored in directory: /Users/blazej/Library/Caches/pip/wheels/e2/f4/5d/a68c656235d33455a1d0f78e877acddfa006907a6d52d7e6ee
Successfully built odfpy
Installing collected packages: odfpy
Successfully installed odfpy-1.4.1
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
import numpy as np

In [2]:
#in df_population there are data about age of each person per year per district
df_pupulation = pd.read_csv("Population of each district.csv")
df_police = pd.read_excel('Number of police officers per district per year.ods', engine='odf')

# Population per district ber year (2011 - 2021)

In [4]:
df2 = df_pupulation.groupby(['laname21'])[['population_2011', 'population_2012','population_2013','population_2014','population_2015','population_2016','population_2017','population_2018','population_2019','population_2020']].sum()
df2

,population_2011,population_2012,population_2013,population_2014,population_2015,population_2016,population_2017,population_2018,population_2019,population_2020
laname21,,,,,,,,,,
Aberdeen City,222460,224910,227070,228920,230350,229840,228800,227560,228670,229060
Aberdeenshire,253650,255560,257770,260530,261960,262190,261800,261470,261210,260780
Adur,61334,61970,62605,63266,63526,63621,63721,63869,64301,64187
Allerdale,96444,96269,96269,96532,96756,97099,97213,97527,97761,97831
Amber Valley,122521,122798,123592,124050,124188,124802,125898,126678,128147,128829
...,...,...,...,...,...,...,...,...,...,...
Wrexham,135070,135498,135801,135953,135418,135408,135571,136126,135957,136055
Wychavon,117074,117777,118906,120007,121709,123144,125378,127340,129433,131084
Wyre,107692,107809,108167,108594,109546,110002,110426,111223,112091,113067
Wyre Forest,98048,98087,98473,98999,99599,100007,100715,101062,101291,101139
York,197783,199567,202113,203654,205784,206920,208163,209893,210618,211012

# Number of officers

### The values are a little bit different than is SN00634 paper and I don't know whats the reason of it (eg:  for 2011 Avon & Somerset we got 3288 and they got 3210)

In [8]:
df_police.head(30)

,As at 31 March...,Geo code,Force Name,Region,Gender,Rank description,Worker type,Total (headcount),Total (FTE)
0,2007,E23000036,Avon & Somerset,South West,Female,Chief Inspector,Police Officer,7,6.60
1,2007,E23000036,Avon & Somerset,South West,Female,Chief Officer,Police Officer,1,1.00
2,2007,E23000036,Avon & Somerset,South West,Female,Chief Superintendent,Police Officer,4,4.00
3,2007,E23000036,Avon & Somerset,South West,Female,Community Support Officer,Police Community Support Officer,170,164.99
4,2007,E23000036,Avon & Somerset,South West,Female,Constable,Police Officer,722,672.76
5,2007,E23000036,Avon & Somerset,South West,Female,Designated Detention Officer (S.38),Designated Officer,0,-0.00
6,2007,E23000036,Avon & Somerset,South West,Female,Designated Detention Officer (S.39),Designated Officer,0,-0.00
7,2007,E23000036,Avon & Somerset,South West,Female,Designated Escort Officer (S.38),Designated Officer,0,-0.00
8,2007,E23000036,Avon & Somerset,South West,Female,Designated Escort Officer (S.39),Designated Officer,0,-0.00
9,2007,E23000036,Avon & Somerset,South West,Female,Designated Investigation Officer (S.38),Designated Officer,0,-0.00
10,2007,E23000036,Avon & Somerset,South West,Female,Inspector,Police Officer,19,19.00
11,2007,E23000036,Avon & Somerset,South West,Female,Police Staff,Police Staff,1493,1313.35
12,2007,E23000036,Avon & Somerset,South West,Female,Sergeant,Police Officer,72,66.51
13,2007,E23000036,Avon & Somerset,South West,Female,Special Constable,Special Constable,138,NaN
14,2007,E23000036,Avon & Somerset,South West,Female,Superintendent,Police Officer,4,3.85
15,2007,E23000036,Avon & Somerset,South West,Male,Chief Inspector,Police Officer,40,40.00
16,2007,E23000036,Avon & Somerset,South West,Male,Chief Officer,Police Officer,3,3.00
17,2007,E23000036,Avon & Somerset,South West,Male,Chief Superintendent,Police Officer,9,9.00
18,2007,E23000036,Avon & Somerset,South West,Male,Community Support Officer,Police Community Support Officer,139,137.38
19,2007,E23000036,Avon & Somerset,South West,Male,Constable,Police Officer,1987,1984.94
20,2007,E23000036,Avon & Somerset,South West,Male,Designated Detention Officer (S.38),Designated Officer,0,-0.00
21,2007,E23000036,Avon & Somerset,South West,Male,Designated Detention Officer (S.39),Designated Officer,0,-0.00
22,2007,E23000036,Avon & Somerset,South West,Male,Designated Escort Officer (S.38),Designated Officer,0,-0.00
23,2007,E23000036,Avon & Somerset,South West,Male,Designated Escort Officer (S.39),Designated Officer,0,-0.00
24,2007,E23000036,Avon & Somerset,South West,Male,Designated Investigation Officer (S.38),Designated Officer,0,-0.00
25,2007,E23000036,Avon & Somerset,South West,Male,Inspector,Police Officer,141,141.00
26,2007,E23000036,Avon & Somerset,South West,Male,Police Staff,Police Staff,943,894.81
27,2007,E23000036,Avon & Somerset,South West,Male,Sergeant,Police Officer,462,460.87
28,2007,E23000036,Avon & Somerset,South West,Male,Special Constable,Special Constable,266,NaN
29,2007,E23000036,Avon & Somerset,South West,Male,Superintendent,Police Officer,17,17.00

In [5]:
bb = df_police[df_police['As at 31 March...']>2010]
aa = bb[bb['Worker type']=='Police Officer']
df1 = aa.groupby(['As at 31 March...', 'Force Name'])[['Total (headcount)']].sum()
df1.head(30)

                                            Total (headcount)
As at 31 March... Force Name
2011              Avon & Somerset                        3288
                  Bedfordshire                           1238
                  British Transport Police               2662
                  Cambridgeshire                         1432
                  Cheshire                               2106
...                                                       ...
2021              Warwickshire                           1066
                  West Mercia                            2297
                  West Midlands                          7319
                  West Yorkshire                         5681
                  Wiltshire                              1101

[484 rows x 1 columns]

In [11]:
df1.head(30)

                                            Total (headcount)
As at 31 March... Force Name
2011              Avon & Somerset                        3288
                  Bedfordshire                           1238
                  British Transport Police               2662
                  Cambridgeshire                         1432
                  Cheshire                               2106
                  Cleveland                              1673
                  Cumbria                                1208
                  Derbyshire                             2061
                  Devon & Cornwall                       3514
                  Dorset                                 1497
                  Durham                                 1454
                  Dyfed-Powys                            1179
                  Essex                                  3652
                  Gloucestershire                        1305
                  Greater Manchester                     7855
                  Gwent                                  1529
                  Hampshire                              3743
                  Hertfordshire                          2093
                  Humberside                             2000
                  Kent                                   3744
                  Lancashire                             3503
                  Leicestershire                         2246
                  Lincolnshire                           1212
                  London, City of                         890
                  Merseyside                             4343
                  Metropolitan Police                   32894
                  Norfolk                                1640
                  North Wales                            1549
                  North Yorkshire                        1484
                  Northamptonshire                       1342